<nav>
    <h1>JUST DO IT</h1>
    <div>
      <h3>my tasks</h4>
      <ul>
        <li> <a href="/list">list</a></li>
        <li> <a href="/completed">history</a></li>
        <li> <a href="important">starred</a></li>     
        <li> <a href="/overdue">missed</a></li>
        <li> <a href="/logout">log out</a></li>
      </ul>      
    </div>
   
</nav>