<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/navbar') %>
    <form class="signup-form">
        <h2>Sign up</h2>
        <label for="email" >Email</label><br>
        <input type="text" id="email" name="email" required><br>
        <div class="errorE">what the fuck</div><br>
        <label for="password" >Password</label><br>
        <input type="password" id="password" name="password" required><br>
        <div class="errorP">what the fuck bro</div><br>
        <button type="submit">Sign up</button><br>
    </form>
    <%- include('./partials/footer') %>
    
</body>
<script>
    const form = document.querySelector('.signup-form');
    const emailError = document.querySelector('.errorE');
    const passwordError = document.querySelector('.errorP');
    
    emailError.textContent = '';
    passwordError.textContent = '';

    form.addEventListener('submit', async (event) => {
    event.preventDefault();
    const email = form.email.value;
    const password = form.password.value;

    try {
        const res = await fetch('/signup', {
            method: 'POST',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' }
        });
        const data = await res.json();

        if (data.errors) {
            emailError.textContent = data.errors.email || '';
            passwordError.textContent = data.errors.password || '';
        }

        if (data.user) {
            window.location.href = data.redirect;
        }
    } catch (err) {
        console.log(err);
    }
});
</script>
</html>